HELP.md
!.mvn/wrapper/maven-wrapper.jar
/classes
/dependency
/dependency-maven-plugin-markers
/generated-sources
/generated-test-sources
/maven-archiver
/maven-status
/surefire-reports
/test-classes


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
